{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <form method="POST" action="../delete/">
                {% csrf_token %}
                <h2>Enter employee personal number to delete</h2>
                <br>
                <div class="fieldWrapper">
                    <input type="text" name="personal_number" class="form-control" maxlength="7" required="" id="id_personal_number">
                </div>
                <br>
                <input type="submit" class="btn btn-danger mb-2" value="Delete" />
            </form>
        </div>
    </div>
</div>

{% endblock %}